<div class="row">
  <div class="card mx-auto col-sm-10 col-md-8 col-lg-6 my-5 py-3 text-center">
    <h3>Create a new post:</h3>
    <form class="form new-post-form" enctype="multipart/form-data">
      <div class="form-group row px-1">
        <label for="post-name" class="col-2 text-wrap">Quick Sniff:</label>
        <input class="form-input col-8" type="text" id="post-title" name="title" />
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required>
      </div>
      <div class="form-group row py-2">
        <label for="post-body" class="col-2 text-wrap">All the Kibbles:</label>
        <textarea class="form-input col-8" rows="6" id="post-body" name="body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary create-btn">CREATE</button>
      </div>
    </form>
  </div>
</div>

<!-- Loop over each object in the posts -->
{{#each posts as |post|}}
<div class="overflow-auto">
  <div class="row card col-sm-11 col-md-9 col-lg-8 mx-auto my-2">
    <div class="col-sml-8 posts">
      <h2 id="post-title">
        {{post.title}}
      </h2>
      <img class="img-responsive" src="{{post.image}}">
      <p id="post-content">
        {{post.body}}
      </p>
      <p class="post-meta">Created by
        <a href="./profile/{{user.id}}" id="viewProfile">{{post.user.name}}</a>
        on
        {{format_date post.date_created}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </p>
    </div>
  </div>
</div>

{{/each}}

<script src="/JS/post.js"></script>