{{#if profile.id}}
  <div class="row" id="viewProfileCard">
    <div class="card mx-auto col-sm-10 col-md-8 col-lg-6 my-auto text-center">
      <div class="info-block">
        <h3 id="view-dog-name">{{profile.dog_name}}</h3>
      </div>
      <div class="info-block">
        <span id="view-dog-breed">{{profile.breed}}</span>
      </div>
      <div class="info-block">
        <span id="view-dog-gender">{{profile.gender}}</span>
      </div>
      <div class="info-block">
        <span id="view-dog-size">{{profile.size}}</span>
      </div>
      <div class="info-block">
        <span id="view-dog-neighborhood">{{profile.neighborhood}}</span>
      </div>
      <div class="info-block">
        <span id="view-dog-hobbies">{{profile.hobbies}}</span>
      </div>
    </div>
  </div>

{{else}}

  <div class="row">
    <div class="card mx-auto col-sm-10 col-md-8 col-lg-6 my-5 text-center">
      <span> Profile not found</span>
    </div>
  </div>

{{/if}}